/* Ui kit */

.container {
  width: 100%;
  max-width: var(--s-container);
  margin: 0 auto;
  padding: 0 var(--s-indent);
}

button,
.button {
  cursor: pointer;
  background: var(--c-accent);
  color: var(--c-secondary);
  border: none;
  border-radius: var(--s-border-radius);
  padding: 12px 36px;
  font-weight: var(--fw-semi-bold);
  font-size: var(--fs-p);
  width: fit-content;
}

input,
.input {
  outline: none;
  border: 1px solid var(--c-text);
  font-size: var(--fs-p);
  font-weight: var(--fw-regular);
  color: var(--c-text);
  padding: 16px 24px;
  width: 100%;
}

/* Text block */

.text-block {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Category title */

.category-title {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 160px;
  padding-bottom: 32px;
  /*gap: 64px;*/
}

.category-title h1 {
  /*margin-left: auto;*/
  width: max-content;
}

.category-title__number {
  border-radius: 100%;
  font-size: 26px;
  font-weight: var(--fw-light);
  line-height: 1;
  display: flex;
  justify-content: center;
  align-self: center;
  border: 1px solid var(--c-text);
  width: 32px;
  min-width: 32px;
  height: 32px;
  min-height: 32px;
}

.category-title__line {
  flex-grow: 1;
  height: 1px;
  /*background: var(--c-text);*/
  border-bottom: 1px solid var(--c-text);
}

.category-title__line,
.category-title__placeholder:nth-child(1) {
  width: 32px;
  margin: 0 64px;
}

@media (max-width: 700px) {
  .category-title__line,
  .category-title__placeholder:nth-child(1) {
    margin: 0 12px;
  }
}

.category-title__placeholder:nth-child(2) {
  flex-grow: 1;
}

.category-title__reversed {
  flex-direction: row-reverse;
}

/* List */

.list {
  list-style-type: decimal;
  font-size: var(--fs-p);
  font-weight: var(--fw-regular);
  color: var(--c-text);
  list-style-position: inside;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Bracket */

.bracket {
  width: 100%;
  margin-top: -20px;
  position: relative;
}

.bracket:after {
  content: '';
  position: absolute;
  bottom: -16px;
  right: -16px;
  width: 80px;
  height: 80px;
  border-bottom: 1px solid var(--c-text);
  border-right: 1px solid var(--c-text);
}
