@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarpanch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');
@import './reset.css';
@import './variables.css';
@import './typography.css';
@import './components.css';
@import './sections/header.css';
@import './sections/hero.css';
@import './sections/about.css';
@import './sections/services.css';
@import './sections/contactUs.css';
@import './sections/footer.css';

@font-face {
  font-family: "Corbel";
  src: url("../assets/fonts/CORBEL.ttf");
}

/*Layout*/

html {
  height: 100%;
  overflow-x: hidden;

}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow-x: hidden;
}

main {
  flex: 1 1 auto;
  margin-bottom: 100px;
}

/* Плавный скролл */

html {
  scroll-behavior: smooth;
}


@media screen and (max-width: 700px) {
  body {
    font-size: 14px;
  }
}
