:root {

  /* Colors */

  --c-text: #000;
  --c-background: #1f242d;
  --c-primary: #1F1F1F;
  --c-secondary: #fff;
  --c-highlight: #0073fa;
  --c-accent: #2B2B2B;
  --c-text-light: #6C6C6C;

  /* Font sizes */

  --fs-logo: 5em;
  --fs-h1: 2em;
  --fs-h2: 1.25em;
  --fs-h3: 1.25em;
  --fs-p: 1.25em;
  --fs-span: 1em;

  /* Font sizes for mobile */

  --fs-m-h1: 2.5em;
  --fs-m-h2: 1.75em;
  --fs-m-h3: 1.5em;
  --fs-m-p: 1.25em;
  --fs-m-span: 1em;

  /* Font weights */

  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;

  /* Font families */

  --ff-barcode: 'Libre Barcode 39 Extended Text', cursive;
  --ff-raleway: 'Raleway', sans-serif;

  /* Sizes */

  --s-indent: 24px;
  --s-container: calc(1018px + calc(var(--s-indent) * 2));
  --s-header-height: 61px;
  --s-border-radius: 2px;

  /* Breakpoints */

  --bp-xl: 1440px;
  --bp-lg: 1250px;
  --bp-slg: 825px;
  --bp-md: 700px;
  --bp-sm: 400px;
}
