.footer {
  background-color: var(--c-primary);
}

.footer h4,
.footer p {
  color: var(--c-secondary);

}

.footer .container {
  max-width: calc(800px + calc(var(--s-indent) * 2));;
  padding-top: 72px;
  padding-bottom: 24px;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  padding-bottom: 24px;
  flex-wrap: wrap;

  align-items: center;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 420px;
}

.footer__contacts .list {
  list-style-type: none;
  gap: 8px;
  color: var(--c-secondary);
}

.footer__contacts a,
.footer__contacts span {
  color: var(--c-secondary);
  font-weight: var(--fw-light);
}

.footer__contacts a {
  border-bottom: 1px solid var(--c-secondary);
}

.footer__contacts a:hover {
  color: var(--c-secondary);
}

.footer__map,
.footer__map iframe {
  max-width: 320px;
  max-height: 185px;
  width: 100%;
  height: 100%;
}

.footer .bracket {
  margin: unset;
}

.footer .bracket:after {
  border-color: var(--c-secondary);
  bottom: -8px;
  right: -8px;
}

.footer .bracket:nth-child(1):after {
  border-color: var(--c-secondary);
  transform: rotate(-180deg);
  top: -8px;
  left: -8px;
}

.footer__org-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.footer__org-info p {
  text-align: center;
}
