.header__container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px var(--s-indent);
}


.logo {
  font-family: var(--ff-barcode) !important;
  font-size: var(--fs-logo);
  font-weight: var(--fw-regular);
}

.logo:hover {
  color: var(--c-text);
}
