.hero {
  min-height: 500px;
  position: relative;
  display: flex;
  align-items: center;
  padding: 64px 0;
}

.hero__about button {
  margin-top: 8px;
}

.hero__title {
  width: fit-content;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--c-text);
}

.hero video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.hero__about {
  padding: 0 26px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.hero__subtitle {
  font-size: var(--fs-h3);
  line-height: 1.2;
}
