.hero {
  /*min-height: 500px;*/
  position: relative;
  display: flex;
  align-items: center;
  /*padding: 64px 0;*/
  padding-top: 120px;
}

.hero__background {
  position: absolute;
  transform: rotate(-20deg);
  right: 0;
  bottom: -50%;
  z-index: -1;
}

.hero__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.hero__container img {
  width: 100%;
  height: 100%;
  max-width: 75%;
}


.hero__about button {
  margin-top: 8px;
}

.hero__title {
  width: fit-content;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--c-text);
}

.hero video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.hero__about {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.hero__subtitle {
  font-size: var(--fs-h3);
  line-height: 1.2;
}

@media (max-width: 800px) {
  .hero {
    padding-top: 40px;
  }

  .hero__container {
  flex-wrap: wrap;
  }

  .hero__container img {
    margin: 0 auto;
  }
}
