.services {
  position: relative;
}

.services__background {
  position: absolute;
  z-index: -1;
  left: -100px;
  top: 10%;
  transform: rotate(35deg);
  width: 526.797px;
  height: 631.828px;
}

.services__list {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

@media screen and (max-width: 1350px) {
  .services__background {
    opacity: .1;
  }
}

@media (max-width: 800px) {
  .category-title {
    padding-top: 32px;
  }
}
